@import url(F:\___________=_Soubory_=\Frontendmentor\results-summary-component-main\assets\fonts\static\HankenGrotesk-Bold.ttf);
@import url(F:\___________=_Soubory_=\Frontendmentor\results-summary-component-main\assets\fonts\static\HankenGrotesk-ExtraBold.ttf);
@import url(F:\___________=_Soubory_=\Frontendmentor\results-summary-component-main\assets\fonts\static\HankenGrotesk-Medium.ttf);

* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

body {
      display: inline-block;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      text-align: center;
     /*  padding: 5% 30%; */
}

section {
      display: inline-block;
}

button {
      background-color: hsl(224, 30%, 27%);
      color: hsl(0, 0%, 100%);
      border: none;
      padding: 0.5rem;
      border-radius: 1rem;
}

li {
      list-style-type: none;
}

.reaction {
      padding: 0.5rem;
      margin: 0.25rem;
      background-color: hsla(0, 100%, 67%, 0.15);
      border-radius: 0.5em;
      color:hsl(0, 100%, 67%);
}

.memory {
      padding: 0.5rem;
      margin: 0.25rem;
      background-color: hsla(39, 100%, 56%, 0.15);
      border-radius: 0.5em;
}

.verbal  {
      padding: 0.5rem;
      margin: 0.25rem;
      background-color: hsla(166, 100%, 37%, 0.15);
      border-radius: 0.5em;
}

.visual {
      padding: 0.5rem;
      margin: 0.25rem;
      background-color: hsla(234, 85%, 45%, 0.15);
      border-radius: 0.5em;
}

li p {
      display: inline-block;  
     
}